section {
  padding: 20px 0 50px 0;
}

/******************/
/***   LOADER   ***/
/******************/
.loader {
  position: fixed;
  z-index: 10;
  pointer-events: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--footer-bg-color);
  animation: anim-loader 3s forwards;
}
.loader-icon {
  position: fixed;
  color: white;
  font-size: 100px;
  top: 45%;
  left: 45%;
}

@keyframes anim-loader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/******************/
/***   HEADER   ***/
/******************/
.header__form {
  width: 100%;
  background-color: var(--header-bg-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  gap: 10px;
}
.header__form__label {
  display: none;
}
.header__form__research {
  background-color: var(--header-bg-color);
  border: none;
  width: 110px;
  font-size: 16px;
}

/************************/
/***   INTRODUCTION   ***/
/************************/
.introduction {
  background-color: var(--bg-color);
  text-align: center;
}
.introduction p {
  margin-bottom: 50px;
}

/**************************/
/***   FONCTIONNEMENT   ***/
/**************************/
.fonctionnement {
  padding-bottom: 70px;
}

.fonctionnement-step {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
  gap: 35px;
}
.fonctionnement-step__article {
  display: flex;
  align-items: center;
}
.fonctionnement-step__number {
  position: absolute;
  padding: 5px 10px;
  margin-left: -12px;
  border-radius: 25px;
  background-color: var(--main-color);
  color: white;
}
.fonctionnement-step__text {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: var(--bg-color);
  padding: 10px 0 10px 40px;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
}

/*******************************/
/***   RESTAURANTS & CARDS   ***/
/*******************************/
.restaurant {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
}
.restaurant__grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 0 30px;
}
.restaurant__link {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.restaurant__card {
  width: 100%;
  background-color: white;
  border-radius: 15px;
  position: relative;
}
.restaurant__card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
}
.restaurant__card__text {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}
.restaurant__card__subtitle {
  margin-top: -20px;
}
.restaurant .new {
  background-color: var(--filter-bg-color);
  color: var(--dark-green);
  width: -moz-min-content;
  width: min-content;
  padding: 5px 10px;
  position: absolute;
  top: 20px;
  right: 5%;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
}
.restaurant__img {
  width: 100%;
  height: 160px;
  border-radius: 15px 15px 0 0;
  margin-bottom: -10px;
  -o-object-fit: cover;
     object-fit: cover;
}

/*************************/
/***   MEDIA QUERIES   ***/
/*************************/
@media (min-width: 768px) {
  .header__form {
    box-shadow: none;
  }
  .restaurant__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .restaurant__link {
    margin-bottom: 0;
  }
  .restaurant__card {
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .fonctionnement-step {
    flex-direction: row;
    gap: 50px;
  }
  .fonctionnement-step__article {
    width: 30%;
  }
}